@charset "utf-8";
/* CSS Document */
.mainOver{overflow:hidden;}
.mainOver .sideBar,.mainOver .column{position:relative;}
a{color:#666666}


/*城市中首页*/
.content{width:1024px;margin:0 auto;}

/*sideBar 侧边栏*/
.sideBar{width:240px;position:relative;left:0;top:0;z-index:2;}
.sideBar .sideTab{height:46px;line-height:46px;text-align:center;font-size:18px;}
.sideTab span{display:inline-block;width:120px;background:#f8f8f8;border-top:1px solid #f8f8f8;cursor:pointer}
.sideTab .sClick{background:#fff;color:#f85659;border-top:#f85659 1px solid;}
.sideBar .sideNav{position:relative;background:#fff;}
.sideBar .sideNav .sideBox,.dif-sideBox{position:relative;z-index:2;height:110px;border-bottom:1px solid #eee;}
.sideBar .sideNav .sideBox a,.dif-sideBox a{color:#666}
.sideBar .sideNav .sideBox a:hover,.dif-sideBox a:hover{color:#f85659}
.sideMen{max-height:86px;padding:8px 13px 12px;position:relative;overflow:hidden;z-index:5;display:block;border:2px solid #fff; border-right:none;}

/*side遮罩*/
.sideMain{width:582px;padding:10px 22px 14px;border:2px solid #ddd;background:#fff;position:absolute;left:240px;top:0px;z-index:3}
.sideBottom{bottom:0;top:initial}
.sideHov{height:86px;border:2px solid #ddd;border-right:none;background: #fff;padding:8px 13px 12px;width:214px;}

.sideMain .tit,.sideMen .tit{height:34px;line-height:34px;font-size:16px;width:100%;padding-left:3px}
.sideMain .tit a,.sideMen .tit a{padding:0;background:none;margin:0}
.sideMen .tit{padding-left:5px;}
.sideMen a,.sideMain a{line-height:30px;float:left;white-space:nowrap; }
.sideMen a{padding-right:12px;margin:0 5px;}
.sideMain .alink{overflow:hidden;margin:0 0 10px -8px;border-bottom:1px dashed #e9e9e9;padding-bottom:14px}
.sideMain a{line-height:14px;padding:0 13px;margin-left:-1px;line-height:26px;}
.sideMain .alinkNor{border-bottom:0;padding-bottom:0;margin-bottom:0}
.sideMain .aLast{backgrund:none}

.sideIndru .sideMen a{padding-right:3px}
.sideBar .sideIndru .sideBox{height: 82.8px;}
.sideIndru .sideMen{height: 62px;padding: 8.4px 13px 8.4px 13px;position: relative;}
.sideIndru .sideMen .tit{height:32px;}
.sideIndru .sideMen i{top:18px;}
.sideIndru .sideHov{height: 62px;padding: 8.4px 13px 8.4px 13px;}

.sideTit{height:44px;line-height:44px;padding-left:17px;font-size:16px;}
.sideTit a{color:#666}
.sideMen i{position:absolute;height:16px;width:8px;background-position: -46px -10px;top:58px;left:218px;}

/*右边*/
.column{width:770px;position:absolute;right:0;top:0;overflow:hidden;}

